canvas {
	position: absolute;
	top: 0;
	left: 0;
}
  body {
    margin: 0;
    overflow: hidden;
		font-family: Arial, sans-serif;
  }

  #container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  #c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #iframe-wrapper {
    position: relative;
    z-index: 1;
		width: 50vw;
		color:white;
  }
	.floating-tab {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-color: #333;
		color: #fff;
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 14px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		z-index: 9999;
	}
	
	.floating-tab a {
		color: #fff;
		text-decoration: none;
	}
	
	.floating-tab a:hover {
		text-decoration: underline;
	}